<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title><PLACEHOLDER name="title"></title>

        <link rel="stylesheet" href="/static/css/main.css">
    </head>

    <body data-title="<PLACEHOLDER name="title">">

        <div class="topBar">
            <a href="<PLACEHOLDER name="parent-dir">">[<PLACEHOLDER name="parent-title">]</a>
            <p class="date"><PLACEHOLDER name="date"></p>
        </div>
        <p class="title"><PLACEHOLDER name="title"></p>
        <PLACEHOLDER name="content">

    </body>
</html>

<!--
Available variables for posts:
    date
    title
    content
    parent-dir
    parent-title

Use them with the PLACEHOLDER name= format as above.
-->

